{
  "web_services": [
    "Facebook_API",
    "Google_Maps_API",
    "Google_Calendar",
    "YouTube_API",
    "Twitter_API",
    "OpenStreetMap_API",
    "Amazon_Product_Advertising_API",
    "Flickr_API",
    "Twilio_API",
    "SoundCloud_API"
  ],
  "libraries_io_api_keys": "bf742a55c3ef7eaf52367f711236048b",
  "liberary_number": 10,
  "repository_number": 10,
  "lang": "java",
  "github_token": [
    "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",
    "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",
    "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",
    "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"
  ],
  "github_endpoint_repository": "https://api.github.com/search/repositories?q=__@QUERY__+language:__@LANG__&sort=stars&order=desc",
  "github_endpoint_code": "https://api.github.com/search/code?q=import+__@QUERY__+in:file+language:__@LANG__&sort=stars&order=desc",
  "libraries_endpoint": "https://libraries.io/api/github/__@QUERY__/projects?api_key=__@APIKEY__"
}